body {
    background-color: #f4f4f4;
}
.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.card {
    text-align: center;
    padding: 15px;
    font-size: 18px;
}
.table {
    margin-top: 20px;
    background-color: white;
}
.table td, .table th {
    text-align: center;
}
button {
    width: 100%;
}